@model Stok_Proje.Models.Entity.Tbl_Satislar
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog" style="background-color:whitesmoke">
        <div class="model-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Satis/YeniSatis/">
                <div class="modal-body">
                    <label>
                        Ürün Adı :
                    </label>
                    @Html.TextBoxFor(x => x.URUN, new { @class = "form-control" })
                    <br />
                    @*<label>
                        Ürün Markası :
                    </label>
                    @Html.TextBoxFor(x => x.Tbl_Urunler.MARKA, new { @class = "form-control" })
                    <br />*@
                    <label>
                        Müşteri Adı Soyadı :
                    </label>
                    @Html.TextBoxFor(x => x.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet :
                    </label>
                    @Html.TextBoxFor(x => x.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat :
                    </label>
                    @Html.TextBoxFor(x => x.FIYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Satış Yap</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>
